body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#004BA0;
color:white;
text-align:center;
padding:30px;
}

nav{
background:#222;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

section{
padding:30px;
background:white;
margin:20px;
border-radius:10px;
}

footer{
background:#004BA0;
color:white;
text-align:center;
padding:10px;
}